$primary-font: 'Poppins', sans-serif;

$primary-color: #042767; 
$primary-color-dark: #041637;
$primary-color-light: rgba(4, 39, 103, 0.7);
$slate-color: rgb(241 245 249 / 1);
$white-color: #fff;
$gray-color: #333;
