.dashboard-container {
  display: flex;
  background-color: #E9E9E9;
  $WIDTH: 15%;
  $PADDING: 3rem 1.5rem;
  font-family: $primary-font;

  &__aside {
    padding: $PADDING;
    width: $WIDTH;
    height: 100vh;
  }

  &__main {
    background-color: rgb(246, 246, 246);
    padding: 3rem;
    width: calc(100% - $WIDTH);
    height: 100vh;
  }
}
